* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("https://media.istockphoto.com/id/809856984/vector/cute-green-meadow-grass-seamless-pattern-green-herbal-bushes-texture.jpg?s=612x612&w=0&k=20&c=c3tuxtZKG9_7YBVwYWVKjHF8v1omB9Gkl2EXE7MnOW0=");
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.menu-container {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 4em;
    margin-bottom: 20px;
    color: #f5a623;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button {
    min-width: 200px;
    border-radius: 16px;
    border: 2px solid #e5e5e5;
    border-bottom: 6px solid #e5e5e5;
    background-color: #3498db;
    color: #fff;
    font-size: 1.5em;
    padding: 15px;
    cursor: pointer;
    transition: all 0.3s;
    text-align: center;
    font-weight: bold;
}

.button:hover {
    background-color: #1d6fa8;
    border-color: #1d6fa8;
}

.button:active {
    border-bottom: 2px solid #1d6fa8;
}

.button:nth-of-type(2) {
    background-color: #e24aa3;
}

.button:nth-of-type(2):hover {
    background-color: #d02a84;
}

.button:nth-of-type(3) {
    background-color: #eb2a19;
}

.button:nth-of-type(3):hover {
    background-color: #d72a19;
}
